# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Tests

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
  workflow_call:

jobs:

  tests-os:

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ contains(matrix.os, 'macos-') }}
    strategy:
      fail-fast: false
      matrix:
       os:
       - ubuntu-latest
       - macos-latest
       - windows-latest
       - macos-14
       python:
       - '3.10'
       - '3.11'
       - '3.12'
       - '3.13'
       - '3.14'

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install pytest
        if [ -f setup.py ]; then python3 -m pip install .; fi
        if [ -f requirements.txt ]; then python3 -m pip install -r requirements.txt; fi
      shell: bash
    - name: Test with pytest
      run: |
        pytest

  tests-docker:

    runs-on: ubuntu-latest
    continue-on-error: ${{ contains(matrix.image, 'rc') }}
    strategy:
      fail-fast: false
      matrix:
        image:
        - python:3.10-alpine
        - python:3.11-alpine
        - python:3.12-alpine
        - python:3.13-alpine
        - python:3.14-alpine
        - python:3.10-slim
        - python:3.11-slim
        - python:3.12-slim
        - python:3.13-slim
        - python:3.14-slim

    container:
      image: ${{ matrix.image }}

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install pytest
        if [ -f setup.py ]; then python3 -m pip install .; fi
        if [ -f requirements.txt ]; then python3 -m pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest
